:root {
    --color-1: #c0dfd3;
    --color-2: #9ccbb8;
    --color-3: #7cb69d;
    --color-4: #6aa68b;
    --color-5: #5f967c;
    --color-6: #588970;
    --color-7: #507963;
    --color-8: #486856;
    --color-9: #3a4c40;
}